@import 'settings';
@import 'foundation-emails';

header {

	#logo {

		width: 200px;

	}

}

.callToAction {

	p { color: white; }
	a {background: white; color: #444 !important; }
	background: $primaryBlue;

}

.footer {

	p, p small { font-size: 12px; }
	background: #efefef;

	border-bottom: 1px solid #eee;

}
