/* Alternating Service Grid Template CSS Rules */

.forward_text {

	margin-bottom: 0px;

}

.content_row,
.content_row_alt {

	padding-bottom: 10px;
	font-size: 90%;
	h4 {

		line-height: 1.3;

	}

}

.content_row_alt {

	padding: 25px 0;
	background: #efefef;

}
