<div class="callToAction">
	<spacer size="25"></spacer>
	<container>

		<row>

			<columns small="12" large="12" mc:edit="item_outro">

				<p>Although you don’t have to use it in order to send emails with MailChimp, our template language is a powerful, easy way to code your own email templates that are reusable and editable from within the application.</p>

			</columns>


		</row>
		<row>
			<columns></columns>
			<columns small="12" large="8">

				<button class="radius expanded" id="cta_btn" href="#">Contact Us Today</button>

			</columns>
			<columns></columns>
		</row>

	</container>
</div>
<div class="footer">
	<spacer size="25"></spacer>

	<container>

		<row>

			<columns small="12" large="12">

				<p>Talk to us on the phone <a href="tel:+4401242512420">+44 (0)1242 512420</a> or by email to <a href="mailto:info@fusionweb.co.uk">info@fusionweb.co.uk</a><br />
				Fusion Design &amp; Print Ltd.
				St. George's House,
				29 St. George's Road,
				Cheltenham,
				Glos.| GL50 3DU</p>

				<p>© 2016 Fusion Design and Print Ltd.</p>

				<p><small>Want to Unsubscribe? Click <a href="*|UNSUB|*">here to unsubscribe from this list.</a></small></p>

			</columns>

		</row>

	</container>

</div>

{{> html-footer}}
